In [1]:
import pandas as pd
try:
    import openpyxl    # check
    del openpyxl
except ImportError:
    %conda install openpyxl

In [6]:
url = "https://zenodo.org/records/6483031/files/PDO_scores_and_social_ecological_indicator_data.xlsx?download=1"
df = pd.read_excel(url)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1348 entries, 0 to 1347
Data columns (total 20 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   NUTS3_ID                             1348 non-null   object
 1   MEDITERRANEAN                        1348 non-null   int64
 2   PDO_SCORE_all                        1348 non-null   int64
 3   PDO_SCORE_meat                       1348 non-null   int64
 4   PDO_SCORE_cheese                     1348 non-null   int64
 5   PDO_SCORE_oils_and_fats              1348 non-null   int64
 6   PDO_SCORE_fruits_vegetables_cereals  1348 non-null   int64
 7   INDICATOR_HNVF                       1348 non-null   float64
 8   INDICATOR_natura_2000                1348 non-null   float64
 9   INDICATOR_CLC_richness               1348 non-null   int64
 10  INDICATOR_semi_natural_farmland      1348 non-null   float64
 11  INDICATOR_UNESCO_sites               1348 non-null   int64
 12  INDICATOR_tourism_beds               1348 non-null   int64
 13  INDICATOR_population_density         1348 non-null   float64
 14  INDICATOR_median_age                 1348 non-null   float64
 15  INDICATOR_5year_migration_rate       1348 non-null   float64
 16  INDICATOR_GDP_pc                     1348 non-null   int64
 17  INDICATOR_organic_farmland           1348 non-null   float64
 18  INDICATOR_avg_farm_size              1348 non-null   float64
 19  INDICATOR_unemployment_20_64         1348 non-null   float64
dtypes: float64(9), int64(10), object(1)
memory usage: 210.8+ KB

In [7]:
# rename columns to keep neat
renamer = lambda x: x.replace('INDICATOR', 'I').replace('PDO_SCORE', 'PDO')
df.rename(renamer, axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1348 entries, 0 to 1347
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   NUTS3_ID                       1348 non-null   object
 1   MEDITERRANEAN                  1348 non-null   int64
 2   PDO_all                        1348 non-null   int64
 3   PDO_meat                       1348 non-null   int64
 4   PDO_cheese                     1348 non-null   int64
 5   PDO_oils_and_fats              1348 non-null   int64
 6   PDO_fruits_vegetables_cereals  1348 non-null   int64
 7   I_HNVF                         1348 non-null   float64
 8   I_natura_2000                  1348 non-null   float64
 9   I_CLC_richness                 1348 non-null   int64
 10  I_semi_natural_farmland        1348 non-null   float64
 11  I_UNESCO_sites                 1348 non-null   int64
 12  I_tourism_beds                 1348 non-null   int64
 13  I_population_density           1348 non-null   float64
 14  I_median_age                   1348 non-null   float64
 15  I_5year_migration_rate         1348 non-null   float64
 16  I_GDP_pc                       1348 non-null   int64
 17  I_organic_farmland             1348 non-null   float64
 18  I_avg_farm_size                1348 non-null   float64
 19  I_unemployment_20_64           1348 non-null   float64
dtypes: float64(9), int64(10), object(1)
memory usage: 210.8+ KB

In [9]:
df.tail()

,NUTS3_ID,MEDITERRANEAN,PDO_all,PDO_meat,PDO_cheese,PDO_oils_and_fats,PDO_fruits_vegetables_cereals,I_HNVF,I_natura_2000,I_CLC_richness,I_semi_natural_farmland,I_UNESCO_sites,I_tourism_beds,I_population_density,I_median_age,I_5year_migration_rate,I_GDP_pc,I_organic_farmland,I_avg_farm_size,I_unemployment_20_64
1343,UKN12,0,0,0,0,0,0,24.472689,0.103647,27,3.079378,1,0,72.6,41.3,1.620176,19500,0.0,0.935549,2.4
1344,UKN13,0,1,0,0,0,0,3.240085,0.221175,21,2.332834,0,0,248.7,39.4,1.957704,28100,0.0,0.935549,2.4
1345,UKN14,0,0,0,0,0,0,2.478140,0.009826,16,7.838372,0,0,284.6,40.5,4.869069,29500,0.0,0.935549,2.4
1346,UKN15,0,0,0,0,0,0,22.384692,0.125467,26,0.760258,0,0,130.8,42.2,1.882719,39100,0.0,0.935549,2.4
1347,UKN16,0,0,0,0,0,0,20.204977,0.065040,20,4.152062,0,0,40.8,39.6,2.011944,24200,0.0,0.935549,2.4

In [10]:
# save to CSV for use in qgis
filepath = "data/pdo-indicators.csv"
result = df.to_csv(filepath, index=False)

None